<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Check for kitchen</title>
    </head>
    <body>
        <div>
            <h3>Check for kitchen</h3>
            <h4>Order id {{ id }}</h4>
            <div>Date: {{ date }}</div>
            <div>Place: {{ point.name }}</div>
            <div>
                <h4>Products</h4>
                {% for product in products %}
                    <div>{{ product.id }} {{ product.code }} {{ product.name }} {{ product.quantity }}</div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>